Options +FollowSymLinks
Options -Indexes

RewriteEngine on

#The following rule lets specific directories behave as directories, like normal
RewriteRule (conf|language|logs|process_files|script|style|users|webgfx)/(.+)$ $1/$2 [NC,QSA,L]

#The following rule allows the mentioned files to go through
RewriteRule ^(showfile.php|update_userlist.php)$ $1 [L,QSA]

#The following rule sends direct links to the mentioned files back to index
RewriteRule ^(coreclass.php|coreclass|functions.php|functions|language.php|language)$ index

#The following rule sends page=index back to index
RewriteRule ^index.php?page=index|^index index.php [L,QSA]

#Routes everything through index.php
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]

ErrorDocument 404 index.php?page=404

#Gzip
<ifmodule mod_deflate.c>
SetOutputFilter DEFLATE
</ifmodule>
#End Gzip

<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
# Default directive
ExpiresDefault "access plus 1 month"
# My favicon
ExpiresByType image/x-icon "access plus 5 years"
# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
# CSS
ExpiresByType text/css "access 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 year"
</IfModule>