@font-face {
    font-family: 'mission_gothicregular';
    src: url('mission_gothic_regular-webfont.eot');
    src: url('mission_gothic_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('mission_gothic_regular-webfont.woff') format('woff'),
         url('mission_gothic_regular-webfont.ttf') format('truetype'),
         url('mission_gothic_regular-webfont.svg#mission_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$border-radius: 4px;

// info, success, error and warning-boxes colors
$info-color: #00529B;
$info-background: #BDE5F8;
$success-color: #4F8A10;
$success-background: #DFF2BF;
$warning-color: #9F6000;
$warning-background: #FEEFB3;
$error-color: #D8000C;
$error-background: #F78181;

// folders
$webgfxfolder: "../webgfx/";

a {
	color: #00a0c6;

	&:visited {
		color: #0066c6;
	}
	&:hover {
		color: red;
	}
}


body,html {
	background: #000;
	color: #fff;
	font-family: sans-serif;
	width: 100%;
	}
h1,h2,h3,h4 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: 'mission_gothicregular';
	}
#main {
	margin: 0 auto;
	width: 800px;
	}
.container {
	margin: 0 auto 20px auto;
	width: 780px;
	border: 2px solid #00a0c6;
	border-radius: 5px;
	background: url("../webgfx/tree.gif") no-repeat bottom left;
	h2 {
		background: #00a0c6;	
	}
	}
header {
	height: 200px;
	h1 {
		text-align: center;
		padding-top: 50px;
	}
}
ul {
	margin: 0 5px;
	padding: 5px;
	text-align: right;
	}
li {
	list-style-type: none;
	padding-top: 2px;
	padding-bottom: 2px;
	}
p {
	text-align: center;
	color: #0066c6;
	}
#upload {
	text-align: center;
	margin-top: 10px;
	}
label {
	color: #00a0c6;
	}
//message-boxes
.messagebox {
    border: 1px solid;
    margin: 10px 0px;
    padding: 10px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    position: relative;
    overflow: hidden;
    input[type=checkbox] {
		margin-top: 10px;
		margin-left: 20px;
    }
	&.error {
		color: $error-color !important;
		background-color: $error-background !important;
	    background-image: url(#{$webgfxfolder}error.png);
		   a {
		    	color: $error-color;
		    }
	}
	&.success {
		color: $success-color !important;
		background-color: $success-background !important;
		background-image:url(#{$webgfxfolder}success.png);
			a {
				color: $success-color;
			}
	}
	&.info {
		color: $info-color !important;
		background-color: $info-background !important;
		background-image: url(#{$webgfxfolder}info.png);
			a {
				color: $info-color;
			}
	}
	&.warning {
		color: $warning-color !important;
		background-color: $warning-background !important;
	    background-image: url(#{$webgfxfolder}warning.png);
			a {
				color: $warning-color;
			}
	}
	.error, .success, .info, .warning {
		border: 2px solid;
		padding: 5px 5px 7px 5px;
		border-radius: $border-radius;
		}
}