@font-face {
  font-family: 'mission_gothicregular';
  src: url("mission_gothic_regular-webfont.eot");
  src: url("mission_gothic_regular-webfont.eot?#iefix") format("embedded-opentype"), url("mission_gothic_regular-webfont.woff") format("woff"), url("mission_gothic_regular-webfont.ttf") format("truetype"), url("mission_gothic_regular-webfont.svg#mission_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  color: #00a0c6; }
  a:visited {
    color: #0066c6; }
  a:hover {
    color: red; }

body, html {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  width: 100%; }

h1, h2, h3, h4 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'mission_gothicregular'; }

#main {
  margin: 0 auto;
  width: 800px; }

.container {
  margin: 0 auto 20px auto;
  width: 780px;
  border: 2px solid #00a0c6;
  border-radius: 5px;
  background: url("../webgfx/tree.gif") no-repeat bottom left; }
  .container h2 {
    background: #00a0c6; }
  .container ul {
    overflow: hidden; }
    .container ul li {
      margin-right: 15px; }
      .container ul li img {
        vertical-align: bottom; }

header {
  height: 200px; }
  header h1 {
    text-align: center;
    padding-top: 50px; }

ul {
  margin: 0 5px;
  padding: 5px;
  text-align: right; }

li {
  list-style-type: none;
  padding-top: 2px;
  padding-bottom: 2px; }

p {
  text-align: center;
  color: #0066c6; }

form {
  display: block;
  margin: 0 auto;
  border: 1px solid #00a0c6;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px; }
  form input {
    text-align: center;
    margin: 10px auto 0 auto;
    display: block;
    border: 1px solid; }
    form input:not([type=submit]) {
      background: #000;
      color: #fff;
      height: 50px;
      width: 400px; }
    form input[type=submit], form input[type=button], form input[type=file] {
      padding: 10px 20px;
      font-size: 16px;
      margin-top: 10px; }
    form input[type=file] {
      border: none;
      float: left;
      margin-top: -5px;
      padding-top: 7px; }
  form label {
    float: left;
    color: #00a0c6; }

.messagebox {
  border: 1px solid;
  margin: 10px 0px;
  padding: 10px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  position: relative;
  overflow: hidden; }
  .messagebox input[type=checkbox] {
    margin-top: 10px;
    margin-left: 20px; }
  .messagebox.error {
    color: #d8000c !important;
    background-color: #f78181 !important;
    background-image: url(../webgfx/error.png); }
    .messagebox.error a {
      color: #d8000c; }
  .messagebox.success {
    color: #4f8a10 !important;
    background-color: #dff2bf !important;
    background-image: url(../webgfx/success.png); }
    .messagebox.success a {
      color: #4f8a10; }
  .messagebox.info {
    color: #00529b !important;
    background-color: #bde5f8 !important;
    background-image: url(../webgfx/info.png); }
    .messagebox.info a {
      color: #00529b; }
  .messagebox.warning {
    color: #9f6000 !important;
    background-color: #feefb3 !important;
    background-image: url(../webgfx/warning.png); }
    .messagebox.warning a {
      color: #9f6000; }
  .messagebox .error, .messagebox .success, .messagebox .info, .messagebox .warning {
    border: 2px solid;
    padding: 5px 5px 7px 5px;
    border-radius: 4px; }

.left {
  float: left; }
